<ion-header color="primary">
  <ion-toolbar>
    <ion-title>
      Edit Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updatePostForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Author</ion-label>
        <ion-input formControlName="author" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Content</ion-label>
        <ion-input formControlName="content" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Post</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>