<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>

      <ion-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Los Angeles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ng-container *ngIf="loaded; else feedLoading;">
    <ion-card *ngFor="let item of (items$ | async);">
      <ion-card-header>
        <ion-card-title>{{item.post.displayName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{item.post.content}}</p>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="findNext($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-template #feedLoading>
    <main>
      Initializing your feed...
    </main>
  </ng-template> -->
  <!-- <ion-button size="small" color="tertiary" (click)="loadMore()">Load</ion-button> -->

  <app-feed></app-feed>
</ion-content>





<!-- <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Posts
    </ion-list-header>

    

    <ion-item *ngFor="let post of posts" class="user-list">
      <ion-label>
        <p>
          <ion-icon name="person"></ion-icon> {{post.author}}
        </p>
        <p>
          <ion-icon name="call"></ion-icon> {{post.title}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['edit-post/', post.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deletePost(post.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list> -->