<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-item *ngIf="isLoaded" lines="none">
      <ion-avatar slot="start">
        <img *ngIf="post.profileImage" [src]="post?.profileImage">
        <img *ngIf="!post.profileImage" src="./assets/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h3 class="display-name">{{post?.displayName}}</h3>
        <p class="location-header">
          <ion-icon name="location-outline"></ion-icon> {{post?.location}}
        </p>
      </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="isLoaded; else postLoading;">
    <ion-card>
      <ion-slides *ngIf="post.images && post.images.length > 0" pager>
        <ng-container *ngFor="let url of  post.images">
          <ion-slide [ngStyle]="{'background' : 'url(' + url + ')'}">
          </ion-slide>
        </ng-container>
      </ion-slides>
      <ion-card-content>
        <p class="post-content">
          {{post?.content}}
        </p>
        <p *ngIf="post.tags && post.tags.length > 0">
          <ion-badge *ngFor="let tag of post.tags" color="secondary">{{tag.value}}</ion-badge>
        </p>
        <p class="post-time">{{timeHelper.getRelativeTime(post.timeStamp)}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col center class="ion-text-center">
          <app-like-button [button]="true" [post]="post" [uid]="user.uid" [label]="true"
            (likeEvent)="likeEvent($event)">
          </app-like-button>
        </ion-col>
        <ion-col center class="ion-text-center">
          <ion-button fill="clear" size="small" color="dark" (click)="addCommentFocus()">
            <ion-icon slot="start" name="chatbox-ellipses-outline" color="medium"></ion-icon>
            <ion-label> Comment</ion-label>
          </ion-button>
        </ion-col>
        <ion-col center class="ion-text-center">
          <ion-button fill="clear" size="small" color="dark">
            <ion-icon slot="start" name="arrow-redo-outline" color="medium"></ion-icon>
            <ion-label> Share</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card>
    <ion-card *ngIf="comments.length > 0">
      <ion-list>
        <div *ngFor="let comment of comments; let i = index">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{comment.profileImage}}">
            </ion-avatar>
            <ion-label>
              <div class="comment">
                <ion-text>
                  <h3>{{comment.displayName}}</h3>
                </ion-text>
                <p>{{comment.content}}</p>
              </div>
              <ion-row>
                <ion-col size=4 left class="ion-text-left">
                  <p class="post-time">{{timeHelper.getRelativeTime(comment.timeStamp)}}</p>
                </ion-col>
                <ion-col size=8 class="ion-text-right stats">
                  <p class="reply" *ngIf="user.uid === comment.uid" (click)="deleteComment(comment)">Delete</p>
                  <p class="reply" (click)="addSubCommentFocus(comment)">Reply</p>
                  <p class="likes">{{comment.likeCount}} Likes</p>
                  <p>
                    <app-like-button center class="ion-text-center" [comment]="comment" [uid]="user.uid" [label]="false"
                      [iconOnly]="true" (likeEvent)="likeCommentEvent($event)">
                    </app-like-button>
                  </p>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div *ngIf="comment?.subComments && comment?.subComments.length > 0" class="sub-comment">
            <ion-row *ngFor="let sub of comment.subComments">
              <ion-col size="11" offset="1">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="{{sub.profileImage}}">
                  </ion-avatar>
                  <ion-label>
                    <div class="comment">
                      <ion-text>
                        <h3>{{sub.displayName}}</h3>
                      </ion-text>
                      <p>{{sub.content}}</p>
                    </div>
                    <ion-row>
                      <ion-col size=4 left class="ion-text-left">
                        <p class="post-time">{{timeHelper.getRelativeTime(sub.timeStamp)}}</p>
                      </ion-col>
                      <ion-col size=8 class="ion-text-right stats">
                        <p class="reply" *ngIf="user.uid === comment.uid" (click)="deleteComment(sub)">Delete</p>
                        <p class="reply">Reply</p>
                        <p class="likes">{{sub.likeCount}} Likes</p>
                        <p>
                          <app-like-button center class="ion-text-center" [comment]="sub" [uid]="user.uid"
                            [label]="false" [iconOnly]="true" (likeEvent)="likeSubCommentEvent($event)">
                          </app-like-button>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

          </div>


        </div>

      </ion-list>
    </ion-card>

  </ng-container>
  <ng-template #postLoading>
    <main>
      <ion-spinner name="bubbles"></ion-spinner>
    </main>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center" no-padding>
      <ion-col size=10>
        <ion-item color="light">
          <ion-textarea #textref clearOnEdit="true" [inputmode]="'text'" [autoGrow]="true" [rows]="1"
            [value]="inputValue" (ionChange)="inputChange($event)"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size=2>
        <ion-button class="msg-button" fill="clear" color="primary" size="large" [disabled]="!inputValue"
          (click)="send()">
          <ion-icon size="large" slot="start" name="chevron-forward-circle-outline"></ion-icon>
          <!-- <ion-icon slot="start" name="paper-plane"></ion-icon> -->
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>