.fullheight {
    height: 100%;
}

.xc {
    display: flex;
    align-items: start;
    padding-top: 25%;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.form {
    text-align: center;
}